# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.i90

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.bak
.vs
build/
build-*/

CMakeSettings.json
/CppProperties.json

out/
Testing/
/SEMBA_FDTD_temp.log
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*/*.bak
./*.bak
.vscode/ltex.dictionary.en-US.txt
GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB

# mtln files
./testData/mtln/*exc 
probes*txt

__pycache__/
*/__pycache__/
src_pyWrapper/__pycache__/*
tmp/
testData/outputs/paul/paul_8.6_square.txt
