# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.bak
.vs
build/
build-*/

CMakeSettings.json
/CppProperties.json

out/
Testing/
/SEMBA_FDTD_temp.log
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*/*.bak
./*.bak
.vscode/ltex.dictionary.en-US.txt
